.u-section-1 .u-sheet-1 {
  min-height: 704px;
}

.u-section-1 .u-group-1 {
  width: 635px;
  min-height: 63px;
  margin: 15px auto 0 -35px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 10px 40px 0 33px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 15px auto 0 -14px;
}

.u-section-1 .u-form-1 {
  height: 555px;
  margin: 10px 871px 0 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
  font-size: 1.375rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
  font-size: 1.375rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
  font-size: 1.375rem;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
  font-size: 1.375rem;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-weight: 700;
  font-size: 1.375rem;
}

.u-section-1 .u-btn-1 {
  font-size: 1.125rem;
  font-weight: 800;
  padding: 10px 31px 10px 30px;
}

.u-section-1 .u-form-2 {
  height: 555px;
  margin: -577px 587px 0 284px;
}

.u-section-1 .u-label-6 {
  font-weight: 700;
  font-size: 1.375rem;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-weight: 700;
  font-size: 1.375rem;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  font-weight: 700;
  font-size: 1.375rem;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-label-9 {
  font-weight: 700;
  font-size: 1.375rem;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-label-10 {
  font-weight: 700;
  font-size: 1.375rem;
}

.u-section-1 .u-btn-2 {
  font-size: 1.125rem;
  font-weight: 800;
  padding: 10px 31px 10px 30px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  margin: -544px 191px 0 auto;
  padding: 11px 71px 12px;
}

.u-section-1 .u-group-2 {
  width: 530px;
  min-height: 285px;
  height: auto;
  margin: 15px 30px 60px auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin: 0 auto 0 138px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 671px;
    width: 570px;
  }

  .u-section-1 .u-btn-1 {
    width: 100%;
  }

  .u-section-1 .u-form-2 {
    margin-right: 487px;
    margin-left: 184px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 451px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 377px;
    margin-left: 74px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 33px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 271px;
    width: 540px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 271px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    margin-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 71px;
    width: 340px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 71px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 87px;
  }
}